{% extends 'base.html' %}

{% block body %}
    <div class="row mx-0 px-4 py-3 background-violet">
        <div class="col-12">
            <h2 class="mb-0">GrandPy Bot</h2>
        </div>
    </div>

    <hr class="mt-0">

    <div class="row mx-4 justify-content-center">
        <div class="col-auto">
            <img src="{{ url_for('static', filename='image/grandpa.png') }}"
                 alt="uncle grandpa"
                 class="rounded float-right height-130">
        </div>
        <div class="col-6">
            <h3>Localise une adresse et apprends son
                histoire !</h3>
            <p>Mon grand âge m'a donné une longue expérience de la
                géographie et de l'histoire.</p>
            <p>Teste donc mes connaissances...</p>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center">
        <div class="col-10" id="messagerie">
            <span data-image-papi="{{ url_for('static', filename='image/older_man.png') }}"
                  data-image-user="{{ url_for('static', filename='image/user.png') }}"></span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('index') }}" method="post">
                {{ ask_form.hidden_tag() }}
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <button id="eraser" class="btn"><i
                                class="fas fa-eraser"></i></button>
                    </div>
                    <div class="col-auto">
                        <button id="random" class="btn"><i
                                class="fas fa-random"></i></button>
                    </div>
                    <div class="col-6">
                        {{ ask_form.ask.label(class_="sr-only") }}
                        {{ ask_form.ask(class_="form-control") }}
                    </div>
                    <div class="col-2">
                        {{ ask_form.countries.label(class_="sr-only") }}
                        {{ ask_form.countries(class_="form-control") }}
                    </div>
                    <div class="col-auto" id="submit_form">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}